{% extends 'base.html' %}

{% block head_user %}
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<style>
    .round {
        border-radius: 100px;
        border: 5px dimgrey;
    }
</style>
{% block head %}{% endblock %}
{% endblock %}


{% block login %}
<nav class="navbar pt-0 pb-0" id="header">
    <div class="container-fluid">
        <div class="navbar-brand">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-ligh btn-lg dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    {{ name }}
                </button>
                <div class="dropdown-menu">
                    {% block home %}{% endblock %}
                    <a class="dropdown-item"
                       href="{% url 'logout' %}">Выйти</a>
                </div>
            </div>
            <img src="{{ avatar }}" alt="" class="round"
                 id="user_avatar">
        </div>
    </div>
</nav>
{% endblock %}

{% block content_user %}
{% block content %}{% endblock %}
{% endblock %}